  <!--[form:contact_detail]-->

	<table>
		<tr>
			<td>First Name:</td>
			<td><%= text_field 'contact_detail_agent', 'first_name' %></td>
		</tr>
		<tr>
			<td>Last Name:</td>
			<td><%= text_field 'contact_detail_agent', 'last_name' %></td>
		</tr>
		<tr>
			<td>Mobile Number:</td>
			<td><%= text_field 'contact_detail_agent', 'mobile' %></td>
		</tr>
		<tr>
			<td>Email Address:</td>
			<td><%= text_field 'contact_detail_agent', 'email' %></td>
		</tr>		
		<tr>
			<td>Work Phone:</td>
			<td><%= text_field 'contact_detail_agent', 'phone_work' %></td>
		</tr>
		<tr>
			<td>Fax Number:</td>
			<td><%= text_field 'contact_detail_agent', 'fax' %></td>
		</tr>
		<tr>
			<td>Website:</td>
			<td><%= text_field 'contact_detail_agent', 'website' %></td>
		</tr>				
  	</table>
		
  <!--[eoform:contact_detail]-->