  <!--[form:contact_detail]-->

	<table>
		<tr>
			<td>Name:</td>
			<td><%= text_field 'company', 'name' %></td>
		</tr>
		<tr>
			<td>Phone Number:</td>
			<td><%= text_field 'company', 'phone' %></td>
		</tr>
		<tr>
			<td>Email Address:</td>
			<td><%= text_field 'company', 'email' %></td>
		</tr>		
		<tr>
			<td>Fax Number:</td>
			<td><%= text_field 'company', 'fax' %></td>
		</tr>
		<tr>
			<td>Website:</td>
			<td><%= text_field 'company', 'website' %></td>
		</tr>				
  	</table>
		
  <!--[eoform:contact_detail]-->