<% content_for :head do %>
  <title>FLYC: PHP Developer</title>
  
  <!-- include jQuery and jQueryUI libraries -->
  
	<%= javascript_include_tag "jquery-1.5.1.min" %>
  
	<%= javascript_include_tag "checktree/jquery.checktree" %>
	<%= stylesheet_link_tag 'checktree/checktree' %> 
	
	<script language="Javascript">
		jQuery(document).ready(function(){
			jQuery("#tree").checkTree({
				// You can add callbacks to the expand, collapse, check, uncheck, and  halfcheck
				// events of the tree. The element you use as the argument is the LI element of
				// the object that fired the event.
				onExpand: function(el) {
					console.log("expanded ", el.find("label:first").text());
				},
				onCollapse: function(el) {
					console.log("collapsed ", el.find("label:first").text());
				},
				onCheck: function(el) {
					console.log("checked ", el.find("label:first").text());
				},
				onUnCheck: function(el) {
					console.log("un checked ", el.find("label:first").text());
				},
				onHalfCheck: function(el) {
					console.log("half checked ", el.find("label:first").text());
				},
				
				// You can set the labelAction variable to either "check" or "expand" 
				// to change what happens when you click on the label item.
				// The default is expand, which expands the tree. Check will toggle
				// the checked state of the items.
				labelAction: "check",
				
				// You can also change what happens when you hover over a label (over and out)
				//onLabelHoverOver: function(el) { alert("You hovered over " + el.text()); },
				//onLabelHoverOut: function(el) { alert("You hovered out of " + el.text()); }
			});
		});
	</script>
	
<% end %>

<% content_for :title do %>
	<span class="content-title">Uncategorised Senders (10)
<% end %>

<% content_for :entity_actions do %>
	
<% end %>	

<% content_for :filters do %>
	
<% end %>

<% content_for :bread_crumbs do %>

	<div style="width:100%;padding:0em 0em 0em 0em;float:right;text-align:left;">
		<span class="content-title" style="font-size:12px;font-weight:normal;">Invitations</span>
		>
	</div>
	
<% end %>

<% content_for :summary do %>

	
	
<% end %>

<%= render :partial => '/main/messages', :locals => {:action => "general"} %>

<%= render :partial => 'company_contact/message/company_contact_review_categorised_senders_details' %>