<h1>Editing Candidate</h1>

<% unless @person.errors.blank? %>
  <fb:error>
    <fb:message>
      <%= error_messages_for @person %>
    </fb:message>
  </fb:error>
<% end %>

<% form_tag(:action => :update_candidate, :candidate_id => @person.id) do %>

  	<%= render :partial => 'person_details' %>
	<%= render :partial => 'contact_details' %>
    <%= submit_tag 'Update' %>
  
<% end %>

<%= link_to 'Show Candidate', show_candidate_url, :candidate_id => @person.id %> |
<%= link_to 'Back to Candidate List', view_candidates_url %>