<h1>New Candidate</h1>

<%= form_tag :action => 'create_candidate' %>
  
  	<%= render :partial => 'person_details' %>
	<%= render :partial => 'contact_details' %>
    <%= submit_tag 'Create' %>
   
<%= form_tag %>

<%= link_to 'Back to Candidate List', view_candidates_url %>