<% content_for :head do %>
	5skills.me 
<% end %>

<% content_for :title do %>
	Job seeker
<% end %>
	
	
<div style="width:100%;height:75px;background-color:#D8F0E5;">
	<div class="message_main" style="margin:0px auto;width:1064px;background-color:transparent;">
		<div style="width:130px;padding-top:15px;float:left;">
			
			<% if params[:c] == "puzzlehead" %>
				<img src="/images/mvp-1/puzzlehead-logo.png" style="padding-top:5px;border:none;width:140px;"/>
			<% elsif params[:c] == "wix" %>
				<img src="/images/mvp-1/wix-logo.png" style="border:none;width:130px;"/>
			<% elsif params[:c] == "manpower" %>
				<img src="/images/mvp-1/manpower-logo.png" style="border:none;width:50px;"/>
			<% elsif params[:c] == "bediyuk" %>
				<img src="/images/mvp-1/bediyuk-logo.png" style="padding-top:10px;border:none;width:130px;"/>
			<% elsif params[:c] == "i-potentials" %>
				<img src="/images/mvp-1/i-potentials.png" style="padding-left:40px;border:none;width:80px;"/>
			<% else %>
				<img src="/images/mvp-1/wix-logo.png" style="border:none;width:130px;"/>
			<% end %>
			
		</div>
		<div style="width:10px;padding-top:15px;padding-left:10px;float:left;font-size:30px;">|</div>
		<div style="float:left;width:904px;padding-left:10px;">
			<div class="left_panel_h2 ptop_10 mleft_10" style="margin-bottom:3px;text-align:left;background-color:transparent;">Job requirements</div>
			<div class="job_preferences_container" style="width:100px;">
				<div class="job_preferences_title ptop_5">Job types</div>
				<div class="job_preferences_name">Full time</div>
			</div>
			<div class="job_preferences_container" style="width:150px;">
				<div class="job_preferences_title ptop_5">Locations</div>
				<div class="job_preferences_name">Tel Aviv (Israel)</div>
			</div>
			<div class="job_preferences_container" style="width:200px;">
				<div class="job_preferences_title ptop_5">Company types</div>
				<div class="job_preferences_name">Medium, Large</div>
			</div>
			<div class="job_preferences_container" style="width:150px;">
				<div class="job_preferences_title ptop_5">Salary range</div>
				<div class="job_preferences_name">No minimum</div>
			</div>
			<div class="job_preferences_container" style="width:250px;">
				<div class="job_preferences_title ptop_5">Industries</div>
				<div class="job_preferences_name">Information technology and services</div>
			</div>
		</div>
	</div>
</div>
	
	
<div class="body_container ptop_10">
	
	<div class="add_skill_panel">
		
		<div class="panel_h1" style="font-weight:normal;">Add skills</div>
		<div class="add_skill_panel_body mtop_5 ptop_5 pleft_10">
			
			<div class="add_skills_list">
				
				<% i = 1 %>
				<% @sorted_skills.each do |sorted_skill| %>
				
					<% if i == 5 %>
						<div style="height:6px;clear:both;"></div>
						<% i = 1 %>
					<% end %>
				
					<div class="add_skill_container" skill_id="<%= sorted_skill.keyword_id %>" skill_added="no">
						<div class="add_skill_left">
							<%= sorted_skill.name %>
						</div>
						<div class="add_skill_right">
							<%= sorted_skill.cnt_profiles %>
						</div>
					</div>
					
					<% i += 1 %>
					
				<% end %>
				
			</div>
			
			
			
			
		</div>
		
	</div>
	
	<div class="left_panel">
		
		<div class="panel_h1" style="font-weight:normal;">Required skills</div>
		<div class="left_panel_body mtop_5 ptop_5 pleft_10">
			
			<div class="left_panel_h2 mtop_10 mleft_10">Top 5 skills</div>
			<ul class="skills_profile_top_5">
				
				<% 5.times do |i| %>
				
					<li id="top_5_skill" class="single_top_skill" skill_priority="<%= (i+1).to_s %>" blank="true">
						<div class="single_top_skill_container_left"></div>
						<div class="single_top_skill_name">
								?
						</div>
						<div class="single_top_skill_container_right"></div>
					</li>
					
				<% end %>
			
			</ul>
			
				<div class="left_separator">
					<hr style="width:200px;"/>
				</div>
				
				<div class="left_panel_h2 mtop_5 mbottom_10 mleft_10">Additional skills</div>
				
			<ul class="skills_profile_additional">
			
			</ul>
			
		</div>
		
	</div>
	
	<div class="right_panel" style="width:460px;margin-left:5px;">
		
		<div class="panel_h1" style="font-weight:normal;">Matching job seekers</div>
		<div class="right_panel_body mtop_5">
			
			
				
			
		</div>
		
	</div>
	
	<div style="padding-top:10px;padding-bottom:3px;clear:both;">
		<hr style="width:1024px;"/>
	</div>
				
	<div class="footer mbottom_10">
		<%= mail_to 'tomer@5skills.me', 'Contact' %> | 5skills.me (c) 2013 All Rights Reserved.
	</div>
	
</div>




<div id="templates">
	
	<div id="template_job_seeker_result" style="padding:2px 0px 2px 2px;width:150px;float:left;height:220px;overflow:hidden;display:none;">
		<div id="badge" style="padding:0px 0px 0px 0px;width:150px;font-size:30px;height:20px;text-align:right;font-weight:bold;transform:rotate(30deg);">
			
			<% if params[:c] == "puzzlehead" %>
				<img src="/images/mvp-1/puzzlehead-logo.png" style="border:none;width:90px;display:none;"/>
			<% elsif params[:c] == "wix" %>
				<img src="/images/mvp-1/wix-logo.png" style="border:none;width:40px;display:none;"/>
			<% elsif params[:c] == "manpower" %>
				<img src="/images/mvp-1/manpower-logo.png" style="border:none;width:20px;display:none;"/>
			<% elsif params[:c] == "bediyuk" %>
				<img src="/images/mvp-1/bediyuk-logo.png" style="border:none;width:60px;display:none;"/>
			<% elsif params[:c] == "i-potentials" %>
				<img src="/images/mvp-1/i-potentials.png" style="border:none;width:40px;display:none;"/>
			<% else %>
				<img src="/images/mvp-1/wix-logo.png" style="border:none;width:40px;display:none;"/>
			<% end %>
				
		</div>
		<div id="pct" style="padding:0px 0px 10px 0px;width:150px;font-size:30px;text-align:center;font-weight:bold;"></div>
		<div id="top_2_current_positions" style="height:40px;overflow:hidden;">
			<div id="single_position" position_priority="1" style="width:150px;font-size:12px;text-align:left;height:15px;font-weight:bold;overflow:hidden;"></div>
			<div id="single_position" position_priority="2" style="width:150px;font-size:12px;text-align:left;height:15px;font-weight:bold;overflow:hidden;"></div>
		</div>
		<div id="top_3_skills ptop_10" style="overflow:hidden;">
			<div id="single_skill" skill_priority="1" style="width:150px;font-size:11px;text-align:left;height:15px;overflow:hidden;"></div>
			<div id="single_skill" skill_priority="2" style="width:150px;font-size:11px;text-align:left;height:15px;overflow:hidden;"></div>
			<div id="single_skill" skill_priority="3" style="width:150px;font-size:11px;text-align:left;height:15px;overflow:hidden;"></div>
		</div>
		<div id="salary" style="margin-top:7px;padding-top:3px;height:20px;background-color:#6BAA73;width:150px;text-align:center;">
			<div id="salary_from" style="float:left;margin-left:5px;color:white;width:60px;text-align:left;">15,000 nis</div>
			<div id="salary_from" style="float:left;color:white;width:20px;text-align:center;">-></div>
			<div id="salary_to" style="float:left;margin-right:5px;color:white;width:60px;text-align:right;">18,000 nis</div>
		</div>
		<div id="lnk_contact" style="height:20px;background-color:#4C9435;width:150px;text-align:center;">
			<a href="" style="color:white;font-size:13px;">Headhunt</a>
		</div>
		<div id="lnk_linkedin_url" style="margin-top:1px;height:15px;;width:150px;text-align:center;">
			<a href="" style="color:#2776B4;font-size:11px;">Open LinkedIn profile</a>
		</div>
		<div id="lnk_contact_us">
			
		</div>
	</div>
		
	<li id="template_top_5_skill" class="single_top_skill" style="display:none;">
		<div class="single_top_skill_container_left"></div>
		<div class="single_top_skill_name">
				?
		</div>
		<div class="single_top_skill_container_right"></div>
	</li>
	
	<li id="template_additional_skill" class="single_additional_skill" style="display:none;">
		<div class="additional_skill_container_left"></div>
		<div class="single_additional_skill_name">Project management</div>
		<div class="additional_skill_container_right"></div>
	</li>
	
</div>
