<table style="width:100%;">
	<tr>
		<td style="text-align:right;width:20%;">
			Company:
		</td>
		<td style="text-align:left;`">
			<%= @job[:c_name] %>
		</td>
		<td style="text-align:center;width:100px;">	
			<% if @upload_files[:company_logo] %>
				<%= fs_image_tag(@upload_files[:company_logo].id, @upload_files[:company_logo].large_dimensions) %>
			<% end %>
		</td>
		
		<% if session[:agency] || (@job[:a_name] && !@job[:a_name].blank?) %>
		
			<td style="text-align:right;width:20%;">
				Agency:
			</td>
			<td style="text-align:left;width:30%;">
				<%= @job[:a_name] %>
			</td>
			<td style="text-align:center;width:100px;">	
				<% if @upload_files[:agency_logo] %>
					<%= fs_image_tag(@upload_files[:agency_logo].id, @upload_files[:agency_logo].large_dimensions) %>
				<% end %>
			</td>
			
		<% end %>
		
	</tr>
</table>

<div id="accordion">
	<h3><a href="#" style="text-align:left;">Company and agency details</a></h3>
	<div>
		<p>
			<table style="width:100%;">
				<tr>
					<td style="width:50%;">
						<table>
							<tr>
								<td colspan="2" style="text-align:left;font-weight:bold;padding-bottom:.5em;">Company details</td>
							</tr>
							<tr>
								<td style="text-align:right;">Company logo:</td>
								<td style="text-align:left;">
									<% if @upload_files[:company_logo] %>
										<%= link_to squeeze_c(@upload_files[:company_logo].name, 35), download_file_url(:file_id => @upload_files[:company_logo].id) %>
									<% end %>
								</td>
							</tr>
							<tr>	
								<td style="text-align:right;">Company website:</td>
								<td style="text-align:left;">
								
								</td>
							</tr>
							<tr>
								<td style="text-align:right;">Contact full name:</td>
								<td style="text-align:left;">
									<% if session[:user].user_type_id == Fs2User::USER_TYPES[:hiring_manager] %>
										<b><%= session[:person].full_name %></b>
									<% else %>
										<%= @job[:cc_full_name] %>
									<% end %>
								</td>
							</tr>
							<tr>
								<td style="text-align:right;">Contact mobile:</td>
								<td style="text-align:left;">
								
								</td>
							</tr>
							<tr>
								<td style="text-align:right;">Contact email:</td>
								<td style="text-align:left;">
									<% if session[:user].user_type_id == Fs2User::USER_TYPES[:hiring_manager] %>
										<b><%= session[:user].email %></b>
									<% end %>
								</td>
							</tr>
						</table>
					</td>
					
					<% if session[:agency] || (@job[:a_name] && !@job[:a_name].blank?) %>
					
						<td style="width:50%;">
							<table>
								<tr>
									<td colspan="2" style="text-align:left;font-weight:bold;padding-bottom:.5em;">Agency details</td>
								</tr>
								<tr>
									<td style="text-align:right;">Agency logo:</td>
									<td style="text-align:left;">
										<% if @upload_files[:agency_logo] %>
											<%= link_to squeeze_c(@upload_files[:agency_logo].name, 35), download_file_url(:file_id => @upload_files[:agency_logo].id) %>
										<% end %>
									</td>
								</tr>
								<tr>	
									<td style="text-align:right;">Agency website:</td>
									<td style="text-align:left;">
									
									</td>
								</tr>
								<tr>
									<td style="text-align:right;">Contact full name:</td>
									<td style="text-align:left;">
										<% if session[:user].user_type_id == Fs2User::USER_TYPES[:recruitment_agent] %>
											<b><%= session[:person].full_name %></b>
										<% else %>
											<%= @job[:ac_full_name] %>
										<% end %>
									</td>
								</tr>
								<tr>
									<td style="text-align:right;">Contact mobile:</td>
									<td style="text-align:left;">
										
									</td>
								</tr>
								<tr>
									<td style="text-align:right;">Contact email:</td>
									<td style="text-align:left;">
										<% if session[:user].user_type_id == Fs2User::USER_TYPES[:recruitment_agent] %>
											<b><%= session[:user].email %></b>
										<% end %>
									</td>
								</tr>
							</table>
						</td>
					
					<% end %>
					
				</tr>
			</table>
		</p>
	</div>
</div>