
<div>
	<div class="admin_menu_item">
		<%= link_to 'Manage Job Seekers', admin_manage_job_seekers_url %>
	</div>
	
	<div class="admin_menu_item"">
		<%= link_to 'Manage Jobs', admin_manage_jobs_url %>
	</div>
	
	<div class="admin_menu_item">
		<%= link_to 'Manage Companies', admin_manage_templates_url %>
	</div>
	
	<div class="admin_menu_item">
		<%= link_to 'Manage Agencies', admin_manage_templates_url %>
	</div>
	
	<div class="admin_menu_item">
		<%= link_to 'Manage Templates', admin_manage_templates_url %>
	</div>
</div>