<% content_for :head do %>
  <title>FLYC: My Files</title>
<% end %>

<% content_for :title do %>
	<span class="content-title">My Files</span>
<% end %>

<% content_for :bread_crumbs do %>

	<div style="width:100%;padding:0em 0em .5em 0em;float:right;text-align:left;">
		<span class="content-title" style="font-size:12px;font-weight:bold;">My Files</span>
	</div>
	
<% end %>

<%= render :partial => '/main/messages', :locals => {:action => "general"} %>

<!-- Headings -->
<div class="top_padding_1">
	
<% form_tag({:action => :create_file_quick}, :multipart => true) do %>

	<table class="template_h3t" style="border-collapse:collapse;">
		<tr style="vertical-align:middle;">
			
			<td class="template_cell_title_heading">
				File
			</td>
			<td class="template_cell_last_updated_date_heading">
				
			</td>
			
		</tr>
		<tr style="vertical-align:top;background-color:#a0dc8f;">
			
			<td class="template_cell_title_content" style="border-top:3px solid gray;border-bottom:3px solid gray;border-left:3px solid gray;padding:4px 0px 4px 4px;margin:0px 0px 0px 0px;">
				<%= file_field 'file_form', 'flyc_file' %>
				<input type="hidden" name="file_form[flyc_file]" value="blah blah"/>
				<div class="error_message_field"><%= @file_form.errors.on("flyc_file") if @file_form %></div>
			</td>
			<td class="template_cell_last_updated_date_content" style="border-top:3px solid gray;border-bottom:3px solid gray;border-right:3px solid gray;padding:4px 0px 4px 0px;margin:0px 0px 0px 0px;">
				<div style="padding: 2px 0px 0px 0px;">
					<%= submit_tag 'Upload', :name => "upload", :style => "width:85px;" %>
				</div>
			</td>
			
		</tr>
	</table>

<% end %>

<% @user_files.each do |flyc_file| %>
	<%= flyc_file.name %> (<%= flyc_file.mime_type %> | <%= flyc_file.size %> bytes)
	<br/>
<% end %>

</div>