<div id="templates">
	
	<%= render :partial => '/js/html_template/__fs_profile/_fs_profile' %>
	<%= render :partial => '/js/html_template/__fs_profile/_bit__fs_profile' %>
	
	<% if params[:controller] == 'fs_job' %>
	
		<%= render :partial => '/js/html_template/recruiter/_sign_up' %>
	
		<%= render :partial => '/js/html_template/recruiter/_notifications_bar' %>
	
		<%= render :partial => '/js/html_template/recruiter/_workspace__results' %>
		<%= render :partial => '/js/html_template/recruiter/_workspace__social_posting' %>
		<%= render :partial => '/js/html_template/recruiter/_job__new_publishing' %>
		<%= render :partial => '/js/html_template/recruiter/_publishing_job' %>
		
		<%= render :partial => '/js/html_template/recruiter/_job_seeker_result' %>
		<%= render :partial => '/js/html_template/recruiter/_job_seeker_match' %>
		
		<%= render :partial => '/js/html_template/recruiter/_left_nav__recruiter__single_job' %>
		<%= render :partial => '/js/html_template/recruiter/_left_nav__recruiter__manage_company' %>
		<%= render :partial => '/js/html_template/recruiter/_right_nav__job_seeker__match' %>
		
		<%= render :partial => '/js/html_template/recruiter/_recruiter__company' %>
		<%= render :partial => '/js/html_template/recruiter/_recruiter__media' %>
	
	<% elsif params[:controller] == 'fs_job_seeker' %>
	
		<%= render :partial => '/js/html_template/_first_time_access' %>
		<%= render :partial => '/js/html_template/_apply_to_job_post__match' %>
		<%= render :partial => '/js/html_template/_apply_to_job_post__other_opportunities' %>
		<%= render :partial => '/js/html_template/_sign_up' %>		
		<%= render :partial => '/js/html_template/_apply_to_job_post__plans_n_pricing' %>
		<%= render :partial => '/js/html_template/_sign_up__success_beta' %>		
		
		<%= render :partial => '/js/html_template/_apply_to_job_post__other_opportunities_not_interested' %>
		<%= render :partial => '/js/html_template/_apply_to_job_post__no_match' %>
		
	<% elsif params[:controller] == 'fs_admin' %>
	
		<%= render :partial => '/js/html_template/admin/_manage_marketing' %>
		<%= render :partial => '/js/html_template/admin/_left_nav__admin__dashboard' %>
	
	<% end %>
	
</div>