<div style="width:750px;float:left;min-height:80px;padding:1em 0em 0em 0em;">
	
	<!-- Job Application Details -->
	<table style="width:100%;text-align:left;border-collapse:collapse;">
		<tr style="vertical-align:top;">
			<td class="template_cell_title_content" 
					style="text-align:center;width:148;padding:0em .5em 0em 1em;">
				<div style="background-color:#ceecc2;padding:.7em 0em .7em 0em;margin:0em 0em 0em .5em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
					<%= link_to 'Job', view_application_url(:application_id => @application_summary.application_id) %>
				</div>
			</td>
			<td class="template_cell_title_content"
					style="text-align:center;width:148;padding:0em .5em 0em .5em;">
				<div style="background-color:#ceecc2;padding:.7em 0em .7em 0em;margin:0em 0em 0em 0em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
					<%= link_to 'Agency', view_application_agency_url(:application_id => @application_summary.application_id) %>
				</div>
			</td>
			<td class="template_cell_title_content"
					style="text-align:center;width:148;padding:0em 1em 0em .5em;">
				<div style="background-color:#ceecc2;padding:.7em 0em .7em 0em;margin:0em 0em 0em 0em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
					<%= link_to 'Company', view_application_company_url(:application_id => @application_summary.application_id) %>
				</div>
			</td>
			<td class="template_cell_title_content"
					style="text-align:center;width:148;padding:0em .5em 0em .5em;">
			</td>
			<td class="template_cell_title_content"
					style="text-align:center;width:148;padding:0em 1em 0em .5em;">
					<div style="background-color:#cef5c2;padding:.7em 0em .7em 0em;margin:0em .0em 0em 0em;border-top:1px solid #00ffff;border-left:1px solid #00ffff;border-right:1px solid #00ffff;">
						<%= link_to 'Notes (' + @application_summary.notes_total + ')', view_application_notes_url(:application_id => @application_summary.application_id) %> / <b>View</b>
					</div>
			</td>
		</tr>
	</table>
	
	  <div style="background-color:#cef5c2;width:100%;text-align:left;border:1px solid #cef5c2;padding:1em 0em 0em 1em;margin:-1px 0px 20px 0px;">
	  
	  	<div style="margin:0em 1em 1em 0em;text-align:right;border-bottom:1px gray solid;">
			<%= link_to 'Edit Note', edit_application_note_url(:note_id => @note.id), :class => "content_link" %>
		</div>
		
		<table valign="top">
			
			<tr id="description">
				<td style="vertical-align:top;text-align:right;">Description:</td>
				<td colspan="3" style="vertical-align:top;text-align:left;width:580px;height:350px;border:1px solid blue;">
					<%= @note.note_contents %>
				</td>
			</tr>
						
		</table>
		
		<div style="margin:1em 1em 1em 0em;text-align:right;border-top:1px gray solid;">
			<%= link_to 'Edit Note', edit_application_note_url(:note_id => @note.id), :class => "content_link" %>
		</div>
	</div>
	
	<div style="width:750px;text-align:right;padding:0em 0em 1em 0em;">
		<%= link_to 'Delete Note', delete_application_note_url(:note_id => @note.id), :confirm => "Are you sure you want to delete note '#{truncate(@note.note_contents, :length => 25).gsub(/<\/?[^>]*>/,  "")}'?", :class => "tab_link" %>
		|
		<%= link_to 'Delete Job', delete_job_url(:application_id => @application_summary.application_id), :confirm => "Are you sure you want to delete job '#{@application_summary.role_title}'?", :class => "tab_link" %>
	</div>
</div>