<% content_for :head do %>

	<% if @is_new %>
  		<title>FLYC: <%= @application_summary.role_title %> > Notes > New Note</title>
	<% else %>
		<title>FLYC: <%= @application_summary.role_title %> > Notes > Editing Note</title>
	<% end %>
	
<% end %>

<% content_for :title do %>
	<span class="content-title">Job Note</span>
	<span class="content-title"> |</span>
	
	<% if @is_new %>
  		<span class="content-title" style="font-size:18px;font-weight:normal;">New</span>
	<% else %>
		<span class="content-title" style="font-size:18px;font-weight:normal;">Editing</span>
	<% end %>
<% end %>

<% content_for :bread_crumbs do %>

	<div style="width:100%;padding:0em 0em .5em 0em;float:right;text-align:left;">
		<span class="content-title" style="font-size:12px;font-weight:normal;"><%= link_to 'My Jobs', view_applications_url %></span>
		>
		<span class="content-title" style="font-size:12px;font-weight:normal;">'<%= link_to truncate(@application_summary.role_title, :options => {nil, 9}), view_application_url(:application_id => @application_summary.application_id) %>'</span>
		>
		<span class="content-title" style="font-size:12px;font-weight:normal;"><%= link_to 'Notes', view_application_notes_url(:application_id => @application_summary.application_id) %></span>
		>
		
		<% if @is_new %>
	  		<span class="content-title" style="font-size:12px;font-weight:bold;">New</span>
		<% else %>
			<span class="content-title" style="font-size:12px;font-weight:bold;">'<%= truncate(@note.note_contents, :length => 9).gsub(/<\/?[^>]*>/,  "")%>'</span>
		<% end %>
	</div>
	
<% end %>

<%= render :partial => '/role_applications/application_summary' %>

<%= render :partial => '/main/messages', :locals => {:action => "general"} %>

<% if @is_new %>

	<% form_tag({:action => :save_application_note}) do %>
		<%= render :partial => 'edit_application_note' %>
	<% end %>
		
<% else %>

	<% form_tag({:action => :update_application_note, :note_id => @note.id}) do %>
		<%= render :partial => 'edit_application_note' %>
	<% end %>
	
<% end %>