<% content_for :head do %>
	Director of Finance for an internet company - Promng | 5skills.me 
<% end %>

<% content_for :title do %>
		
<% end %>

<div class="header">	
	
<div class="header_menu">
		<div class="logo left"><%= image_tag("mvp/product/logo.png") %></div>
		<div class="right">
			<div class="job_but left"><input type="submit" value="Join today" /></div>
			<div class="cand_but left"><input type="submit" value="Login" /></div>
		</div>		
	</div>		
	
</div>

<div class="middle">
	<div class="main_left">
		<div class="title">
		<h1>JOB: Director of Finance for an internet company</h1>	
		<div class="date right">
			<span>Today, 11:15</span>		
			<%= image_tag("mvp/product/star.png") %>	
		</div>
		</div>

		<div class="main_box_top clear"></div>
		<div class="main_box_mid">			
			<div class="mid_left">
				<div class="logo_profile"><%= image_tag("logos/promng_logo.png", :width => "160") %>	</div>
				<hr />
				<div class="profile">
					<div class="social">
					<a href="" ><%= image_tag("mvp/product/fb.png") %></a>
					<a href="" ><%= image_tag("mvp/product/in.png") %></a>
					</div>
					<%= image_tag("profile_photos/alin_siris.png", :width => "115") %>
				</div>
				<hr />
				<div class="friends">
					<span>Friends at Client</span>
					<br />
					<%= image_tag("mvp/product/img_1.png") %>
					<%= image_tag("mvp/product/img_2.png") %>
					<%= image_tag("mvp/product/img_3.png") %>
				</div>
				<hr />
				<div class="cv_send"><input type="submit" value="Send CV" /></div>
			</div>
				
			<div class="mid_center">
				<div class="skills clear">
					<div class="title2"><span>1.  CPA (any)</span></div>
					<div class="position"><span>3y</span></div>	
					<div class="buttonwrapper">
					<a class="ovalbutton" href="#"><span>Vendor management</span></a>
					<a class="ovalbutton" href="#"><span>P&L report creation</span></a>
					<a class="ovalbutton" href="#"><span>CF report creation</span></a>
					<a class="ovalbutton" href="#"><span>US tax system</span></a>
					<a class="ovalbutton" href="#"><span>Israel tax system</span></a>
					<a class="ovalbutton" href="#"><span>US GAAP reporting</span></a>
					<a class="ovalbutton" href="#"><span>Online business models</span></a>
					<a class="ovalbutton" href="#"><span>Online business channels</span></a>
					</div>						
				</div>
				
				<div class="skills clear">
					<div class="title2"><span>2.  HR management</span></div>
					<div class="position"><span>2y</span></div>	
					<div class="buttonwrapper">
					<a class="ovalbutton" href="#"><span>Administration</span></a>
					<a class="ovalbutton" href="#"><span>Operations management</span></a>
					</div>						
				</div>
				
				<div class="skills clear">
					<div class="title2"><span>3. Payroll management</span></div>
					<div class="position"><span>2y</span></div>	
					<div class="buttonwrapper">
					<a class="ovalbutton" href="#"><span>Administration</span></a>
					<a class="ovalbutton" href="#"><span>Operations management</span></a>
					</div>						
				</div>
				
									<div class="skills clear">					
				</div>
				<div class="skills clear">					
				</div>
				
			</div>	
			<div class="mid_right">
					<div>
					<div class="title3_first "><span>Job Type</span></div>
					<div class="buttonwrapper_left">
					<a class="ovalbutton" href="#"><span>Full Time</span></a>
					</div>
					<div class="clear">
					<br />
<!-- 					<a class="more" href="#"><span>Show all (+2)</span></a> -->
					</div>
					</div>
					
					<div class="clear ptop_10">
					<div class="title3 "><span>lOCATION</span></div>
					<div class="buttonwrapper_left">
					<a class="ovalbutton" href="#"><span>Tel Aviv</span></a>
					</div>
					<div class="clear">
					<br />
<!-- 					<a class="more" href="#"><span>Show all (+2)</span></a> -->
					</div>
					</div>
					
					<div class="clear ptop_10">
					<div class="title3 "><span>gENERAL KEYWORDS</span></div>
					<div class="buttonwrapper_left">
					<a class="ovalbutton" href="#"><span>English</span></a>
					<a class="ovalbutton" href="#"><span>International experience</span></a>
					</div>
					<div class="clear">
					<br />
<!-- 					<a class="more" href="#"><span>Show all (+2)</span></a> -->
					</div>
					</div>
			</div>				
			
		</div>
		<div class="main_box_but"></div>
	</div>
		
	<div class="main_right">
		<h2>Looking for work?</h2>
		<div class="box1">
			<%= image_tag("mvp/product/user_pic.png") %>
			<h3>Want a profile like this?</h3>
			<div class="skill_but"><input type="submit" value="5skill yourself!" /></div>
		</div>			
					
		<h2>Looking for candidates?</h2>
		<div class="box2">
			<%= image_tag("mvp/product/logo_box.png") %>
			<%= image_tag("mvp/product/user_pic.png") %>
			<h3>Want a job profile like this?</h3>
			<div class="skill_but2"><input type="submit" value="5skill your Job!" /></div>
		</div>	
				
	</div>		
</div>

	<div class="footer clear">	

	<div class="footer_mid">
		<div class="right">
			<div class="menu1">
			<a href="#" >Help Center </a>
			<a href="#" >About  </a>
			<a href="#" >Blog </a>
			<a href="#" >Careers </a>
			<a href="#" >Advertising </a>
			<a href="#" >Recruiting Solutions </a>
			<a href="#" >Tools  </a>
			<a href="#" >Mobile </a>
			<a href="#" >Developers </a>
			<a href="#" >Publishers Language </a>
			<a href="#" >Upgrade Your Account </a>
			</div>
			<hr />
			<div class="menu2">
			<div class="left"><span>5skills Corporation © 2012</span></div>
			<div class="right">
			<a href="#" >User Agreement  </a>
			<a href="#" >Privacy Policy  </a>
			<a href="#" >Copyright Policy  </a>
			<a href="#" >Send Feedback </a>
			</div>
			</div>
		</div>
		</div>		
	</div>		
	
</div>