<% @rendering_start = Time.now %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  
  <%= yield :head %>
  
  <%= stylesheet_link_tag 'phase_1/main' %>
  <%= stylesheet_link_tag 'phase_1/table' %>
  <%= stylesheet_link_tag 'phase_1/messages' %>
  
  <%= javascript_include_tag :defaults %>  
  <%= calendar_date_select_includes "red"%>
  <%= javascript_include_tag "fckeditor/fckeditor" %>
  
  <%= javascript_include_tag "jquery-1.5.1.min", "application" %>  
  
</head>
<body>

<div class="container">

<%= render :partial => '/main/header_1' %>
<%= render :partial => '/main/header_2' %>

<table style="width:100%">
	<tr>
		<td style="text-align:left;padding:1em 0em .5em 0em;margin:0em 0em 0em 0em;">
			<%= yield :title %>
		</td>
		<td style="text-align:right;padding:0em 0em 0em 0em;">
			<span class="content_link"><%= link_to 'Feedback for this page', provide_feedback_url %></span>
		</td>
	</tr>
	<tr>
		<td span="2" style="text-align:left;margin:0em 0em 0em 0em;">
			<%= yield :bread_crumbs %>
		</td>
	</tr>
</table>

<%= yield %>

<%= render :partial => '/main/footer' %>

</div> <!-- CONTAINER -->

<%# render :partial => '/main/debugging' %>

</body>
</html>